<!DOCTYPE html>
<html>
<head>
	<title>login form</title>
</head>
<body>
	<form method="post">
	<input type="name" name="usuari"></input>
	<input type="password" 
 name="contrasenya"></input>

	</form>
</body>
</html>