<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Register</title>
  <style>
    input{
      margin-bottom: 15px
      }
    .container{
      width:50%
    }
  </style>

</head>
<body>
<div class="container">
  <form class="login-form" method="POST" action="/register"  >
    <h2 class="form-heading">Register</h2>
    <input name="nom" type="text" class="form-control" placeholder="nom" autofocus="true"/><br>
    <input name="contrasenya" type="password" class="form-control" placeholder="contrasenya" /><br>
    <button type="submit">register</button>
  </form>

</div>
</body>
</html>